
@{
    ViewBag.Title = "Calendar";
}
<link rel="stylesheet" type="text/css" href="~/bootstrap-year-calendar.css" />
<script src="~/Scripts/bootstrap-year-calendar.js"></script>
<h2>Calendar</h2>

<div data-provide="calendar"></div>